@import "tailwindcss";


@keyframes fade-out-in {
    0%{
        opacity: 1;
    }
    40%{
        opacity: 0.6;
    }
    80%{
        opacity: 1;
    }
}

.anim-photo {
    transition: all 2s;
    will-change: top, right, height, width, z-index, opacity;
}

.back-position {
    height: 150px;
    width: 175px;
    top: 15vh;
    right: 5vw;
    animation: fade-out-in 4s linear infinite;
    z-index: 1;
}

.middle-position {
    height: 225px;
    width: 200px;
    top: 10vh;
    right: 25vw;
    animation: fade-out-in 4s linear infinite;
    z-index: 2;
}

.front-position {
    height: 125px;
    width: 125px;
    top: 30vh;
    right: 60vw;
    animation: fade-out-in 4s linear infinite;
    z-index: 3;
}

@media screen and (min-width: 640px) and (max-width: 768px){
    .back-position {
    height: 150px;
    width: 175px;
    top: 15vh;
    right: 2vw;
    animation: fade-out-in 4s linear infinite;
    z-index: 1;
}

.middle-position {
    height: 225px;
    width: 200px;
    top: 10vh;
    right: 12vw;
    animation: fade-out-in 4s linear infinite;
    z-index: 2;
}

.front-position {
    height: 125px;
    width: 125px;
    top: 27vh;
    right: 27vw;
    animation: fade-out-in 4s linear infinite;
    z-index: 3;
}
}

@media screen and (min-width: 769px) and (max-width: 1199px){
    .back-position {
    height: 150px;
    width: 175px;
    top: 15vh;
    right: 7vw;
    animation: fade-out-in 4s linear infinite;
    z-index: 1;
}

.middle-position {
    height: 225px;
    width: 200px;
    top: 10vh;
    right: 15vw;
    animation: fade-out-in 4s linear infinite;
    z-index: 2;
}

.front-position {
    height: 125px;
    width: 125px;
    top: 30vh;
    right: 30vw;
    animation: fade-out-in 4s linear infinite;
    z-index: 3;
}
}

@media screen and (min-width: 1200px){
    .back-position {
    height: 200px;
    width: 200px;
    top: 10vh;
    right: 5vw;
    animation: fade-out-in 4s linear infinite;
    z-index: 1;
}

.middle-position {
    height: 275px;
    width: 275px;
    top: 5vh;
    right: 12vw;
    animation: fade-out-in 4s linear infinite;
    z-index: 2;
}

.front-position {
    height: 150px;
    width: 150px;
    top: 25vh;
    right: 25vw;
    animation: fade-out-in 4s linear infinite;
    z-index: 3;
}
}